pyriemann==0.5
keras==2.14.0
matplotlib==3.8.0
matplotlib-inline==0.1.6
mne==1.5.1
numpy==1.26.0
pandas==2.2.3
scikit-learn==1.6.1
scipy==1.11.3
termcolor==2.3.0
tqdm==4.66.1
wget==3.2
skorch==0.15.0
braindecode==0.4.85
ema-pytorch==0.3.0
einops==0.7.0
emd==0.4.0
brainflow==2.4.0
keras-preprocessing==1.1.2
autoreject==0.4.3
PyWavelets==1.6.0 # From EEGExtract Original: 1.0.3
dit==1.5 # From EEGExtract Original: 1.2.3
statsmodels==0.14.2 # From EEGExtract Original: 0.10.1
librosa==0.10.2.post1
pyinform==0.2.0
antropy==0.1.6
pre-commit==3.7.1
poetry==1.8.3
Flake8-pyproject==1.2.3
torch==2.1.0 # +cu121 or whichever cuda is compatible with your computer
torchsummary==1.5.1
torchvision==0.16.0 # tensorflow-io-gcs-filesystem==0.31.0
tensorflow==2.14.0
